[Desktop Entry]
Name=Ultimate Cura
Exec=/opt/cura/cura
Icon=/opt/cura/cura.png
comment=3d printer slicer app
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
